.search-container .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}
.actionBtn {
    margin-left: 10px;
    background-color: #BCB6B0;
}
.actionBtn .mat-button-wrapper {
    color: #F2F0EF;
}
.actionBtn span {
    color: #F2F0EF;
}